.skill {
    color: rgb(13, 1, 21);
    background-color: rgba(168, 179, 179, 0.292);
    padding: 15px 25px;
    font-size: 18px;
    margin: 10px;
    border-radius: 5px;
}

.btn {
    color: white;
    background-color: #007BFF;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
}